[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "UACEViewerUtils/rapidjson"]
	path = UACEViewerUtils/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "PurrViewer/DirectX-Headers"]
	path = PurrViewer/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "PurrViewer/imgui"]
	path = PurrViewer/imgui
	url = https://github.com/ocornut/imgui.git
