[submodule "UACEViewerUtils/rapidjson"]
	path = UACEViewerUtils/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "PurrViewer/DirectX-Headers"]
	path = PurrViewer/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "PurrViewer/imgui"]
	path = PurrViewer/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "UACEViewerUtils/evpp"]
	path = UACEViewerUtils/evpp
	url = https://github.com/Qihoo360/evpp.git
[submodule "UACEViewerUtils/sockpp"]
	path = UACEViewerUtils/sockpp
	url = https://github.com/fpagliughi/sockpp.git
